
#page {
  margin-left: 300px;
  max-width: 600px;
  padding: 0 10px 0 10px;
  color: #333333;
  background: url('../images/page line left.png') no-repeat;
}

#page h3 {
  font-family: HelveticaNeue;
  font-size: 22px;
}

#page p {
  font-family: HelveticaNeue;
  margin-top: 8px;
  font-size: 14px;
}

#page .box {
  margin: 18px 8px 18px 8px;
  box-shadow: 0 0 5px black;
  background-color: white;
}
#page .box.left {
  float: left;
}
#page .box.right {
  float: right;
}

#page .box img {
  display: block;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#page .box h5 {
  display: block;
  margin: 2px;
  padding: 2px;
  border-top: 1px solid gray;
  text-align: right;
}
